@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

body {
	margin: 0;
	padding: 0;
	background-color: #298eea;
	font-family: 'Source Sans Pro', sans-serif;
}

body * {
	box-sizing: border-box;
}

h1 {
	font-size: 36px;
	color: #565656;
	font-weight: 300;
}
header {
	width: 100%;
}

.logo {
	display: block;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.signup {
	width: 400px;
	padding: 40px;
	background-color: #fff;
	margin: auto;
	border-radius: 3px;
}

.signup h1 {
	text-align: center;
	margin-top: 0;
}

fieldset {
	width: 320px;
	border: none;
	margin: 0;
	padding: 0;
}

label {
	display: block;
}

input {
	display: block;
	width: 320px;
	height: 55px;
	padding: 15px;
	border: 2px solid #eee;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
}

.signup-submit {
	width: 320px;
	height: 55px;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
	background-color: #15cd72;
}
.signup-submit:hover {
	background-color: #12aa5f;
}

.forgot {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
}

.forgot a {
	color: #999;
}

.login {
	text-align: center;
	font-size: 14px;
	color: #fff;
}

.login a {
	color: #fff;
}